#navibar{
    background-color: rgb(70, 130, 180);
}

#heading {
        color:rgb(70, 130, 180)
        }


td {
    color: rgb:(0, 0, 139);
}

#positions {
    text-align: center
}


#banner.picture {

    width: 550px;
    margin-top: 20px;
}

h1 {
    font-size: 250%;
    color: rgb(70, 130, 180)
}

#pastor {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

#pastorpic {
    margin-right: 20px;
}

#free {
    font-size: 200%;
    color: rgb(70, 130, 180);
}

#save {
    color: rgb(255, 0, 216)
}

#cross {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 20px
}

#lists {
    text-align: center;
    list-style-position: inside;
    margin-left: 150px;
    margin-right: 150px
}

footer {
    color: rgb(160, 160, 160);
    font-size: 75%;
    text-align: center;
    margin-top: 50px
}

#withlines {
    color: rgb(160, 160, 160)
}